/* Reset de css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Sin congiguracion el rem vale: 1rem = 16px */
  /* Para que 1 rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Coiny", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background: linear-gradient(
    to bottom,
    rgba(152, 251, 152, 1) 0%,
    rgba(59, 70, 255, 1) 50%,
    rgba(29, 26, 32, 1) 100%
  );
  color:rgba(30, 28, 43, 1);

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.parrafo-home {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  background: rgba(145, 237, 159, 1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 1rem;
  margin-left: 2rem;

  font-size: 3rem;
  font-weight: bold;
}
.header__logo a {
  color: cornflowerblue;
  text-decoration: none;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bolder;
}

.header__logo:hover {
  transform: scale(1.25);
  transition: 0.4s ease;
}

.header__logo a:hover {
  color: lightseagreen;
  transform: scale(1.25);
  transition: 0.4s ease;
}

.header__nav {
  padding: 1rem;
  margin-right: 2rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header__nav li {
  font-size: 2.25rem;
  font-weight: lighter;
}

.header__nav li:hover {
  transform: scale(1.25);
  cursor: pointer;
  transition: 0.4s ease;
}

.header__nav a {
  color: cornflowerblue;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.footer {
  background-color: rgba(30, 28, 43, 1);
  text-align: center;
  padding: 2rem;
  color: lemonchiffon;

  /* hago flexibles al p y la nav */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav ul {
  list-style: none;

  /* hago flexibles a los li de la lista */
  display: flex;
  justify-content: center;
  gap: 2rem; /* 20px */
}

.footer nav li:hover {
  transform: scale(1.25);
  cursor: pointer;
  transition: 0.4s ease;
  color: deeppink;
}

/* -------------------------------------------------------------------------- */
/*                                  BOTONES                                   */
/* -------------------------------------------------------------------------- */
.btn {
  background-color: #1d1a20;
  color: deeppink;
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: whitesmoke;
}

.btn-eliminar-carrito {
  background-color: #1d1a20;
  border: 2px solid blueviolet;
}
.btn-vaciar-carrito {
  background-color: #f7bb2b;
  color: #1d1a20;
}
.btn-vaciar-carrito:hover {
  background-color: #e0aa24;
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

main {
  width: 90%;

  /* body dijo que sus hijos sean flexibles (header, main y footer) al aplicar la propiedad "flex: 1" a un hijo, le decimos que ese hijo siempre tomara el mayor espacio disponible */
  flex: 1;

  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 4rem;
  margin: 2rem 0;
  text-align: center;
}

main .parrafo-home {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 80%;
}

.productos-home {
  width: 100%;
}

.productos-home h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin: 3rem;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.tarjeta-producto {
  background-color:cornflowerblue;
  color:rgb(201, 253, 236);
  font-family: "Roboto Condensed", sans-serif;
  padding: 1rem;
  border-radius: 1rem;
  width: 30rem;

  /* hacemos flexibles los elementos del article los colocamos en columna y centrados */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  /* separacion */
  gap: 1rem;
}

.tarjeta-producto h3 {
  font-size: 2rem;
}

.tarjeta-producto p {
  font-size: 2rem;
  font-weight: bold;
}

.tarjeta-producto img {
  width: 100%;
  border-radius: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                  Contacto                                  */
/* -------------------------------------------------------------------------- */

.seccion-contacto {
  width: 100%;
  margin: 2rem auto;
}

.titulo-contacto {
  font-size: 4.8rem;
  text-align: center;
  margin: 2rem 0;
  font-weight: normal;
}

.form {
  background-color: #1d1a20;
  padding: 5rem;
  border-radius: 1rem;
  width: 60rem; /* ancho relativo */
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.campo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.campo-form label {
  font-size: 2rem;
}
.campo-form input,
.campo-form textarea {
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: none;
}

.form button {
  background-color: mediumseagreen;
  color: #e5e6e8;
  border: none;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "roboto", arial;
}

/* -------------------------------------------------------------------------- */
/*                                Carrito                                     */
/* -------------------------------------------------------------------------- */

#contenedor-carrito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.mensaje-carrito-vacio {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}
.acciones-carrito {
  margin-top: 2rem;
}

#resumen-carrito {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.resumen-total {
  background-color: rgba(145, 237, 159, 0.8);
  padding: 2rem;
  border-radius: 1rem;
  color: #1d1a20;
  font-size: 2.5rem;
}

.resumen-total p {
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                                media queries                               */
/* -------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header__logo,
  .header__nav {
    margin: 0;
  }

  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tarjeta-producto {
    width: 80%;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .form {
    width: 80%;
    min-width: 400px;
  }
}
